<h6 mat-dialog-title class="bg-title">Fields</h6>
<mat-dialog-content class="mat-typography">
    
        <div class="addGroup">
           <div  class="row"> 
                <div >
             <mat-form-field >
              <input matInput placeholder="Group Name" value="APR"  type="text" >
             
              </mat-form-field>
           </div>
          <div >
            <mat-form-field >
                <input matInput placeholder="Display Order" type="nuumber"  >
               
              </mat-form-field>
            </div>
            <div >
            <button  class=" pull-right add-grp-btn">Add Category</button>
          </div>
        </div>

        
    <div class="level2">
      <mat-card>
          <mat-card-subtitle>APR</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
            <div>
            <mat-form-field>
              <input matInput value="Introductory" placeholder="Category Name">
            </mat-form-field>
            </div>
            <div >
                <button class=" pull-right add-catg-btn">Add Category</button>
            </div>
            <div >
                <button class=" pull-right add-catg-btn">Delete Category</button>
            </div>
          </div>
          </mat-card-content>
          <mat-card>
              <mat-card-subtitle>Introductory</mat-card-subtitle>
              <mat-card-content>
                <div class="row">
                 <div>
                  <mat-form-field>
                      <mat-label>Data Type</mat-label>
                      <mat-select disableRipple>
                        <mat-option value="1">Numeric</mat-option>
                        <mat-option value="2">Boolean</mat-option>
                       
                      </mat-select>
                    </mat-form-field>
                  </div>
                <div >
                    <mat-form-field>
                        <mat-label>Format</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1">Percentage</mat-option>
                          <mat-option value="2">Currency($)</mat-option>
                         
                        </mat-select>
                      </mat-form-field>
                </div>
                
              </div>
              </mat-card-content>
          </mat-card>
      




    

    <div class="level2">
        <mat-card>
              <mat-card-subtitle></mat-card-subtitle>
              <mat-card-content>
                <div class="row">
                    <div>
                     <mat-form-field>
                       <input matInput value="Variable APR" placeholder="Category Name">
                      </mat-form-field>
                    </div>
                  <div >
                      <button class=" pull-right add-catg-btn">Add Category</button>
                   </div>
                  <div >
                    <button class=" pull-right add-catg-btn">Delete Category</button>
                  </div>
                </div>
              </mat-card-content>
                     <mat-card>
                          <mat-card-subtitle>Variable APR</mat-card-subtitle>
                             <mat-card-content>
                                <div class="row">
                                  <div>
                                      <mat-form-field>
                                        <input matInput value="Min" placeholder="Information">
                                     </mat-form-field>
                                  </div>
                                  <div >
                                     <button class=" pull-right add-catg-btn">Add Category</button>
                                 </div>
                                 <div >
                                     <button class=" pull-right add-catg-btn">Delete Category</button>
                                  </div>
                                 </div>               
                                    <mat-card>
                                         <mat-card-subtitle>Min</mat-card-subtitle>
                                            <mat-card-content>
                                                <div class="row">
                                                     <div>
                                                         <mat-form-field>
                                                            <mat-label>Data Type</mat-label>
                                                                <mat-select disableRipple>
                                                                  <mat-option value="1">Numeric</mat-option>
                                                                 <mat-option value="2">Boolean</mat-option>
                         
                                                                 </mat-select>
                                                          </mat-form-field>
                                                     </div>
                                                     <div >
                                                         <mat-form-field>
                                                             <mat-label>Format</mat-label>
                                                                  <mat-select disableRipple>
                                                                    <mat-option value="1">Percentage</mat-option>
                                                                     <mat-option value="2">Currency($)</mat-option>
                           
                                                                   </mat-select>
                                                          </mat-form-field>
                                                     </div>
                  
                                                 </div>
                                            </mat-card-content>
                                    </mat-card>

   







                                    <div class="row">
                                        <div>
                                            <mat-form-field>
                                              <input matInput value="Min" placeholder="Information">
                                           </mat-form-field>
                                        </div>
                                        <div >
                                           <button class=" pull-right add-catg-btn">Add Category</button>
                                       </div>
                                       <div >
                                           <button class=" pull-right add-catg-btn">Delete Category</button>
                                        </div>
                                       </div>               
                                          <mat-card>
                                               <mat-card-subtitle>Max</mat-card-subtitle>
                                                  <mat-card-content>
                                                      <div class="row">
                                                           <div>
                                                               <mat-form-field>
                                                                  <mat-label>Data Type</mat-label>
                                                                      <mat-select disableRipple>
                                                                        <mat-option value="1">Numeric</mat-option>
                                                                       <mat-option value="2">Boolean</mat-option>
                               
                                                                       </mat-select>
                                                                </mat-form-field>
                                                           </div>
                                                           <div >
                                                               <mat-form-field>
                                                                   <mat-label>Format</mat-label>
                                                                        <mat-select disableRipple>
                                                                          <mat-option value="1">Percentage</mat-option>
                                                                           <mat-option value="2">Currency($)</mat-option>
                                 
                                                                         </mat-select>
                                                                </mat-form-field>
                                                           </div>
                        
                                                       </div>
                                                  </mat-card-content>
                                          </mat-card>

            
          </mat-card-content>
        </mat-card>
        </mat-card>
       
      </div>
  
    </mat-card>
     
  </div>
</div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>