.row div {
    padding: 50px;
}
.level2{
    width:"full";
}

.bg-title{
    background-color: moccasin;
}
mat-card {
    border-style: solid;
border-width: 1px;
}


#bot-margin{
    margin-bottom: 10px;
    height:10%;
}


